:root{
    --primary-color:#6C4F4F;
--secondary-color:#C5ADA4;
--third-color:#DAC2C2B0;

}




h1,h3,h4{
    text-align: center;
}
h2{
    color:var(--primary-color);
    font-family:'Playfair Display', serif;   
    padding:10px;
}
h3{
 color: #1B1A1E;
font-family:'Poppins', sans-serif;
font-size: 36px;
font-weight: 700;
line-height: normal;
}
h1{
color:var(--primary-color);
font-family:'Playfair Display', serif;
font-size: 90px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
h4{
    color: #1B1A1E;
    font-family:'Poppins', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
   
.content{
    border:  none #C5ADA4;
    border-color: var(--third-color);
    border-width: 100px;
    background: #C5ADA4;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.info{
    border:  none #C5ADA4;
    border-color: var(--third-color);
    border-width: 100px;
    background:#C5ADA4;
    margin-bottom: 40px;
    padding-bottom: 20px;
}
.inquiries{
    border: 4px none #C5ADA4;
border-radius: 10px;
    border-color: var(--third-color);
    border-width: 100px;
    background: #C5ADA4;
    margin-bottom: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact{
    border: 4px none #C5ADA4;
border-radius: 10px;
    border-color: var(--third-color);
    border-width: 100px;
    background: #C5ADA4;
    margin-bottom: 20px;
   margin-left: 20px;
   margin-right:20px ;
   display: flex;
   flex-direction: column;
   align-items: center;
}
#social-media{
    padding:15px;

 

}
.paragraph{
    border: 4px none #C5ADA4;
    border-radius: 10px;
        border-color: var(--third-color);
        border-width: 50px;
        background:#C5ADA4;
        margin-bottom: 40px;
      padding:20px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 50em;
}
.personal-info{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}
#image{
    width:250px;
    padding-bottom: 10px;
}
p{
    font-size: 20px;
    
}
.primary-link {
    background: var(--third-color);
    color: white;
    
    text-decoration: none;
    border-radius: 4px;
    padding: 20px 15px;
 
    
  }
  .primary-link:hover{
    color:#1B1A1E;
    
  }
  #email-link{
    text-decoration: none;
    font-size: 24px;
    color:#1B1A1E;
    font-family:'Poppins', sans-serif;
    padding-bottom: 10px;
}
.contact-link{
    background: var(--third-color);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    padding: 20px 15px;
}
.contact-link:hover{
    color:#1B1A1E;
}
.website-link{
    background: var(--third-color);
    color: white;
    text-decoration: none;
 width:100px;
    border-radius: 4px;
    padding: 20px 15px;
    align-items: center;
}
.website-link:hover{
    color:#1B1A1E;
}
a.contact-link{
    display: block;
    width:150px;
    text-align: center;
    align-self: center;
}

@media (max-width: 600px) {
    h1 {
      font-size: 48px;
      line-height: 1.5;
    }
  
    h2 {
      font-size: 32px;
      text-align: center;
    }
  
    p {
      text-align: center;
    }
    .primary-link {
      display: block;
      text-align: center;
    margin:0 auto;
    width:200px
    }
.personal-info{
width:auto;
padding-bottom: 10px;
text-align: center;
}
#intro{
    padding:10px;
}
.paragraph{
    width:auto;
    border-radius: 0px;
}
#email-link{
    font-size: 18px;
    text-align: center;
}
}
@media(max-width:850px){
    .contact{
       margin:50px;
    }
    #intro{
        padding:10px;
        margin: 20px;
}
#nav-bar{
    width:auto;
}
.paragraph{
   width: auto;
   margin: 20px;
   border-radius: 4px;
}
.website-link{
 margin-left: 15px;
   padding-top: 10px;
}
}
